<h1>Select one category form the list below</h1>

<p><h3><%= link_to "Mobile", mobile_index_path %></h3></p>
<p><h3><%= link_to "Education", education_index_path%></h3></p>
<p><h3><%= link_to "Construction", construction_index_path%></h3></p>
<p><h3><%= link_to "Hote", hotel_index_path%></h3></p>