
<div id = "replaced">
<div id="container">
	<form name="frm_images"  method="post" action="">
		<div>
			<input type="hidden" value="" name="hdn_images" id="hdn_images">		
		</div>
	</form>
	<input type="button" name="btn_submit" onclick="submit()" value="send">
	<%#= link_to "Madhu", "/education/player", :onclick=>"submit()"%>
	<% @construction.each do |construction|%>
	<div class="single_image">	
		
		 <%= image_tag construction.image.url, :width => 100, :height => 150, :crop => :fill %>
		<input type="checkbox" class="images" name="images[]" id="<%=construction.id%>"  value="<%=construction.image.url%>">
	</div>
	<% end %>
</div>
</div>

<div id = "hi">

</div>

<script type="text/javascript">
		
	function submit()
	{
		var chkId = '';
		$('.images:checked').each(function() {
		  chkId += $(this).val() + ",";
		});
		chkId = chkId.slice(0,-1);// Remove last comma 	
		

		$.ajax({
			url:"/construction/player?image="+chkId,
			type: "POST",
			context: document.body
			}).done(function(data) {
						 $('#replaced').html(data);
			});
		
	}	

	 

</script>

